<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Car Gallery
    </ion-title>
    <ion-buttons slot="end">
      <ion-avatar *ngIf="profileImage" class="header-avatar" (click)="goToProfile()">
        <ion-img [src]="profileImage" (error)="profileImage = 'assets/default-avatar.svg'"></ion-img>
      </ion-avatar>
      <ion-button *ngIf="!profileImage" (click)="goToProfile()">
        <ion-icon name="person" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="background-container">
    <div class="star-dots"></div>
  </div>

  <div class="home-container">
    <!-- Welcome Card -->
    <ion-card class="fade-in welcome-card">
      <div class="logo-container">
        <ion-icon name="sunny" class="sun-logo"></ion-icon>
      </div>
      <ion-card-header>
        <ion-card-title class="ion-text-center">{{ greeting }}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content class="ion-text-center">
        <p class="welcome-text">Welcome to your personal car collection!</p>
        <p class="welcome-subtitle">Explore amazing cars, videos, and more</p>
      </ion-card-content>
    </ion-card>

    <!-- Featured Cars Card -->
    <ion-card class="fade-in featured-card">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="star"></ion-icon> Featured Cars
        </ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <div class="featured-cars">
          <div class="featured-car" *ngFor="let i of [1, 2, 3]">
            <div class="car-image-container">
              <img src="assets/car{{i}}.jpg" alt="Featured Car {{i}}" class="car-image" 
                   onerror="this.src='https://ionicframework.com/docs/img/demos/card-media.png'">
            </div>
            <div class="car-name">Awesome Car {{i}}</div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Quick Actions Card -->
    <ion-card class="fade-in actions-card">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="flash"></ion-icon> Quick Actions
        </ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <div class="button-container">
          <ion-button expand="block" (click)="openFolders()" class="slide-up">
            <ion-icon slot="start" name="folder-open"></ion-icon>
            Car Folders
          </ion-button>
          
          <ion-button expand="block" (click)="openGallery()" class="slide-up">
            <ion-icon slot="start" name="images"></ion-icon>
            All Cars
          </ion-button>
          
          <ion-button expand="block" (click)="goToVideos()" class="slide-up">
            <ion-icon slot="start" name="videocam"></ion-icon>
            Car Videos
          </ion-button>
          
          <ion-button expand="block" (click)="goToProfile()" color="secondary" class="slide-up">
            <ion-icon slot="start" name="person"></ion-icon>
            My Profile
          </ion-button>
          
          <ion-button expand="block" color="danger" (click)="logout()" class="slide-up">
            <ion-icon slot="start" name="log-out"></ion-icon>
            Logout
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Stats Card -->
    <ion-card class="fade-in stats-card">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="analytics"></ion-icon> Collection Stats
        </ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <div class="stats-container">
          <div class="stat-item">
            <div class="stat-value">{{ carCount }}</div>
            <div class="stat-label">Cars</div>
          </div>
          <div class="stat-item">
            <div class="stat-value">{{ videoCount }}</div>
            <div class="stat-label">Videos</div>
          </div>
          <div class="stat-item">
            <div class="stat-value">{{ folderCount }}</div>
            <div class="stat-label">Folders</div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
