<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Suraj
    </ion-title>
    <ion-buttons slot="end">
      <ion-avatar *ngIf="profileImage" class="header-avatar" (click)="goToProfile()">
        <ion-img [src]="profileImage" (error)="profileImage = 'assets/default-avatar.svg'"></ion-img>
      </ion-avatar>
      <ion-button *ngIf="!profileImage" (click)="goToProfile()">
        <ion-icon name="person" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon name="logOut" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="background-container">
    <div class="star-dots"></div>
  </div>

  <div class="home-container">
    <ion-card class="fade-in">
      <div class="logo-container">
        <ion-icon name="sunny" class="sun-logo"></ion-icon>
      </div>
      <ion-card-header>
        <ion-card-title class="ion-text-center">{{ greeting }}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content class="ion-text-center">
        <p>Welcome to my App</p>
        <p>Explore your folders and images securely</p>
        
        <div class="button-container">
          <ion-button expand="block" (click)="openFolders()" class="slide-up">
            <ion-icon slot="start" name="folder-open"></ion-icon>
            Car Folders
          </ion-button>
          
          <ion-button expand="block" (click)="openGallery()" class="slide-up">
            <ion-icon slot="start" name="images"></ion-icon>
            All Cars
          </ion-button>
          
          <ion-button expand="block" (click)="goToVideos()" class="slide-up">
            <ion-icon slot="start" name="videocam"></ion-icon>
            Car Videos
          </ion-button>
          
          <ion-button expand="block" (click)="goToProfile()" color="secondary" class="slide-up">
            <ion-icon slot="start" name="person"></ion-icon>
            My Profile
          </ion-button>
          
          <ion-button expand="block" color="danger" (click)="logout()" class="slide-up">
            <ion-icon slot="start" name="log-out"></ion-icon>
            Logout
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
